* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    text-decoration: none;
    scroll-behavior: smooth;
    list-style: none;
}

/*****HEADER*****/
header {
    position: fixed;
    top: 16px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    background-color: black;
    backdrop-filter: blur(8px);
    color: white;
    padding: 8px 24px;
    border-radius: 48px;
    z-index: 1000;
}

.logo {
    color: white;
    font-size: 20.8px;
    font-weight: 600;
    text-wrap: nowrap;
    transition: 0.3s ease-in-out;
}

.logo:hover {
    transform: scale(1.1);
}

.nav-links {
    display: flex;
    gap: 32px;
}

li a {
    color: white;
    position: relative;
    font-weight: 300;
}

li a::before {
    position: absolute;
    content: '';
    width: 0;
    left: 0;
    height: 5px;
    top: 25px;
    border-radius: 16px;
    transition: 0.3s ease-in-out;
    background: linear-gradient(to right, rgb(0, 157, 255), rgb(255, 0, 255));
}

li a:hover::before {
    width: 100%;
}

.visit-btn {
    padding: 12.8px 24px;
    border-radius: 48px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    color: white;
    cursor: pointer;
    text-wrap: nowrap;
    transition: 0.5s ease-in-out;
    background: linear-gradient(to right, rgb(0, 157, 255), rgb(255, 0, 255));
}

.visit-btn:hover {
    background: linear-gradient(to right, rgb(255, 0, 255), rgb(0, 157, 255));
    transform: scale(1.03);
}

#menu-icon {
    display: none;
    font-size: 32px;
}

/*****MAIN*****/
section {
    min-height: 800px;
    padding: 0 192px;
    width: 100%;
    position: relative;
}

p {
    font-size: 14px;
}

.about {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about .about-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about img {
    max-width: 60%;
    height: auto;
    border-radius: 50%;
}

.info-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.text h3 {
    font-size: clamp(20px, 2vw, 28.8px);
    font-weight: 500;
    opacity: 0.8;
}

.text h1 {
    font-size: clamp(32px, 6vw, 64px);
    font-weight: 600;
}

.text span {
    background: linear-gradient(to right, rgb(255, 0, 255), rgb(0, 157, 255));
    background-clip: text;
    color: transparent;
    font-size: clamp(20px, 4vw, 32px);
}

.btn-group {
    display: flex;
    gap: 16px;
    align-items: center;
    margin: 15px 0;
}

.btn-group-projects {
    margin: 35px 80px 0;
}

.btn {
    border-radius: 48px;
    padding: 8px 24px;
    border: 2px solid black;
    cursor: pointer;
    font-weight: 500;
    text-wrap: nowrap;
    transition: 0.2s ease-in-out;
    color: black;
}

.btn:hover {
    background: black;
    color: white;
}

.btn a {
    color: black;
}

.btn a:hover {
    color: white;
}

.socials {
    display: flex;
    gap: 32px;
}

.socials i {
    font-size: 40px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.socials i:hover {
    transform: scale(1.1);
}

/*****EXPERIENCE*****/
.section-title {
    text-align: center;
    font-size: clamp(32px, 6vw, 64px);
    font-weight: 600;
    margin-bottom: 48px;
}

.experience-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    padding: 30px;
}

.experience img {
    max-width: 60%;
    height: auto;
    border-radius: 48px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 32px;
}

.grid-card {
    border: 2px solid black;
    border-radius: 48px;
    padding: 48px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: left;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.grid-card:hover {
    transform: scale(1.03);
    background-color: black;
    color: white;
}

.grid-card i {
    font-size: 24px;
    margin-bottom: 16px;
}

.grid-card span {
    font-size: clamp(20px, 3vw, 32px);
    font-weight: 500;
    background: linear-gradient(to right, #009dff, #ff00ff);
    background-clip: text;
    color: transparent;
}

/*****SCROLLBAR*****/
::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: rgb(219, 219, 219);
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #009dff, #ff00ff);
}

/*****PROJECTS*****/
.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 32px;
    padding: 30px;
}

.project-card {
    padding: 48px 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 24px;
    border: 2px solid black;
    border-radius: 48px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.project-card:hover {
    transform: translateY(-10px) scale(1.03);
    background-color: black;
    color: white;
}

.project-card img {
    max-width: 100%;
    height: auto;
    border-radius: 16px;
}

.project-card:hover .btn {
    border: 2px solid white;
    color: white;
}

.project-card:hover .btn:hover {
    border: 2px solid white;
    background-color: white;
    color: black;
}

.project-card h3 {
    font-size: 32px;
    font-weight: 500;
}

/*****CONTACT*****/
#contact {
    max-width: 500px;
    margin: 50px auto 0;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
}

label {
    font-weight: bold;
    display: block;
    margin: 10px 0 5px;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

/*****FOOTER*****/
footer {
    bottom: 0;
    left: 0;
    height: 160px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: center;
}

footer ul {
    display: flex;
    gap: 48px;
    align-items: center;
}

footer ul li a {
    color: black;
    font-weight: 600;
}

.copyright {
    font-size: 14px;
    margin-top: 32px;
}

/*****MEDIA QUERIES*****/
@media(max-width:1280px) {
    section {
        padding: 0 64px;
    }
}

@media (max-width: 1199px) {
    .experience img {
        display: none;
    }
}

@media(max-width:768px) {
    header {
        gap: 16px;
        padding: 16px;
    }

    header .logo {
        font-size: 16px;
    }

    header .visit-btn {
        display: none;
    }

    .about-container {
        flex-direction: row;
    }

    .about img {
        width: 300px;
    }

    section {
        min-height: 400px;
        padding: 20px;
    }

    .experience-info {
        flex-direction: column;
    }

    .experience-info img {
        display: none;
    }

    .grid {
        grid-template-columns: 1fr;
    }

    .project-card img {
        width: 100%;
        height: auto;
    }

    .grid-card i {
        font-size: 32px;
    }
}

@media(max-width:600px) {
    header #menu-icon {
        display: block;
    }

    .nav-links {
        position: absolute;
        top: 100%;
        margin-top: 16px;
        width: 100%;
        padding: 16px;
        flex-direction: column;
        text-align: center;
        border-radius: 48px;
        background-color: black;
        opacity: 0.9;
        display: none;
    }

    .nav-links.active {
        display: block;
    }

    .nav-links li {
        margin-top: 24px;
        padding: 16px;
    }

    li a {
        font-size: 20px;
    }

    .about .about-container {
        flex-direction: row-reverse;
        margin: 30px;
    }

    .about-container img {
        width: 150px;
    }

    .btn {
        padding: 8px 16px;
        font-size: 16px;
    }

    .text h1 {
        font-size: 32px;
    }

    .text h3 {
        font-size: 20px;
    }

    .text span {
        font-size: 26px;
    }

    .project-card img {
        width: 100%;
    }

    footer ul {
        gap: 16px;
    }
}
